mixin events
  .events&attributes(attributes)
    a.events__action-add(href="")
      .events__action-add-body
        icon-svg.events__action-add-bg(name="border")
        icon-svg.events__action-add-icon(name="plus")
        .events__action-add-content Добавить событие

    .table-responsive
      table.table-data.table-data--events
        thead
          tr
            th: span Группа
            th: span Название события
            th: span Дата
            th: span Ссылка на регистрацию
            th: span Ссылка на этапы
            th(colspan="3"): span Действия
        tbody
          tr(
            data-target-group="student"
            data-datetime="2024-07-19T12:00Z"
          )
            td: span.icon.icon-student.table-data__target-group
            td: span Новое событие Флагманы Образования
            td: span 19.07.2024
            td: a(href="") зарегистрироваться
            td: a(href="") этапы
            td: a(href="") QR
            td: a(href="") Edit
            td: a(href="") Del

          tr(
            data-target-group="teacher"
            data-datetime="2024-07-18T12:00Z"
          )
            td: span.icon.icon-teacher.table-data__target-group
            td: span Новое событие Флагманы Образования
            td: span 18.07.2024
            td: a(href="") зарегистрироваться
            td: a(href="") этапы
            td: a(href="") QR
            td: a(href="") Edit
            td: a(href="") Del

          tr(
            data-target-group="manager"
            data-datetime="2024-07-17T12:00Z"
          )
            td: span.icon.icon-manager.table-data__target-group
            td: span Новое событие Флагманы Образования
            td: span 17.07.2024
            td: a(href="") зарегистрироваться
            td: a(href="") этапы
            td: a(href="") QR
            td: a(href="") Edit
            td: a(href="") Del
