mixin target-groups
  .target-groups&attributes(attributes)
    label.target-groups__item.target-groups__item--student
      .target-groups__item-body
        input(
          type="radio"
          name="group"
          value="student"
          checked
        ).visually-hidden
        .icon.icon-student.target-groups__item-icon
        .target-groups__item-title Студент

    label.target-groups__item.target-groups__item--teacher
      .target-groups__item-body
        input(
          type="radio"
          name="group"
          value="teacher"
        ).visually-hidden
        .icon.icon-teacher.target-groups__item-icon
        .target-groups__item-title Педагог

    label.target-groups__item.target-groups__item--manager
      .target-groups__item-body
        input(
          type="radio"
          name="group"
          value="manager"
        ).visually-hidden
        .icon.icon-manager.target-groups__item-icon
        .target-groups__item-title Управле&shy;нец
