include /pug/global
include /pug/store

//- Base Components
include /components/content/content
include /components/btn/btn
include /components/form-field/form-field

block variables
  -
    let projectName = 'Флагманы образования';
    let title = projectName;
    let description = title;
    let favicon = false;
    let og = false;
    let ym = false;

    let bodyClass = [];
    let appClass = [];
    let appAttrs = {
      'x-data': 'app',
      'x-bind': 'app',
    };

block document
  doctype html
  html(
    lang="ru"
    prefix=og ? 'og: https://ogp.me/ns#' : null
  )
    head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
      title= title
      meta(property="description" content=description)

      if favicon
        include /pug/chunks/favicon

      if og
        include /pug/chunks/og

      if ym
        include /pug/chunks/ym

      if !PRODUCTION
        style.
          [hidden],
          [x-cloak] {
            display: none !important;
          }

      block head-end

    body(class=bodyClass)
      block body-start
      .app(class=appClass)&attributes(appAttrs)
        block app
      block body-end
