mixin comment({ image, name, info, content })
  blockquote.comment&attributes(attributes)
    .grid-12
      .col-span-3.col-span-12-max-md
        .comment__person
          if image
            +picture-webp()(
              src=image
              srcset="2x"
              alt!=name
            ).comment__person-image
          else
            img(
              src="upload/empty.svg"
              alt!=name
            ).comment__person-image
          .comment__person-name!= name
          if info
            .comment__person-info!= info

      .col-span-8.col-span-9-max-lg.col-span-12-max-md
        +content().comment__content!= content
          block
