mixin header
  header.header&attributes(attributes)
    .container.grid-12.header__container
      //-+btn({ iconPrev: 'list' }).header__btn-nav(x-on:click="toggleNav")
      .col-span-3
        a.header__logo(href="/")
          img(
            src="~@images/logo.png?as=webp"
            srcset="~@images/logo.png?as=webp 195w, ~@images/logo@2x.png?as=webp 390w, ~@images/logo@3x.png?as=webp 585w"
            sizes="195rem"
            loading="lazy"
            alt=""
          )
      .col-span-7
        nav.header__nav
          a.header__nav-item(href="/") Главная
          a.header__nav-item(href="") Пункт меню 2
          a.header__nav-item(href="") Пункт меню 3
      .col-span-2.header__actions
        +btn({ tag: 'a', content: 'Выйти' }).header__btn
        +btn({ tag: 'a' }).header__btn
