include /components/table-data/table-data

mixin stage(type = 'cabinet')
  // `stage(false)` - передаем параметр жеребьевки
  .stage(
    class=`stage--${type}`
    x-data=`stage(false)`
    x-bind=`stage`
  )&attributes(attributes)
    .stage__body
      .stage__header
        h1.h1.content.stage__title
          if type === 'cabinet'
            | Этап кабинет
          if type === 'tribune'
            | Этап “Трибуна”
          if type === 'brainstorm'
            | Командные этапы

        +btn({ tag: 'a', content: 'Далее', icons: ['arrow-right'] }).stage__btn-next(href="")

        if ['brainstorm'].includes(type)
          p.stage__subtitle
            if type === 'brainstorm'
              | Мозговой штурм

      if type === 'cabinet'
        .stage__main.stage-item(
          class=`stage-item--${type}`
          x-data="stageItem(false, 0)"
          x-bind="stageItem"
          x-cloak
        )
          template(x-if="isFilled")
            .stage__params
              .stage__params-body
                div(
                  x-id=['form-field']
                  x-show="!isStarted"
                )
                  label.form-label.mb-2(
                    x-bind:for="$id('form-field')"
                  ) Таймер (задать время)

                  +form-field({ tag: 'select' }).form-field--lg(
                    x-bind:id="$id('form-field')"
                    x-model.number="controlTime"
                  )
                    option(value=5 * 1000) 5 сек.
                    option(value=5 * 60 * 1000) 5 мин.
                    option(value=15 * 60 * 1000) 15 мин.
                    option(value=30 * 60 * 1000) 30 мин.
                    option(value=45 * 60 * 1000) 45 мин.
                    option(value=60 * 60 * 1000) 1 час
                    option(value=90 * 60 * 1000) 1 час 30 мин

                div(x-show="!isStarted")
                  +btn({ content: 'Старт' }).btn--accent.btn--lg.btn--width-full(
                    x-bind="btnStart"
                    x-on:click="beforeSendData(); fetch('', { method: 'POST', body: controlTime }).then(() => { afterSendData() })"
                  )

                div
                  +form-field().form-field.form-field--timer.form-field--lg(
                    readonly
                    x-data="timer"
                    x-bind:value="formatTime"
                  )

          div(x-ref="stageItems")
            +table-data(type)

      if type === 'tribune'
        .stage__main
          template(x-if="!isFilled")
            .stage__params
              .stage__params-body
                div
                  +btn({content: '<span class="hidden-max-sm">Провести жеребьевку</span><span class="hidden-min-sm">Жеребьевка</span>'}).btn--tertiary.btn--lg.btn--width-full(
                    x-bind="btnLoad"
                    x-on:click="isLoading = true; $refs.stageItems.innerHTML = await (await fetch('ajax/stage-items-tribune.html')).text(); isLoading = false; isFilled = true"
                  )

          div(x-ref="stageItems")
            +table-data('tribune-not-filled')

      if type === 'brainstorm'
        .stage__main.stage-item(
          class=`stage-item--${type}`
          x-data="stageItem(false, 0)"
          x-bind="stageItem"
          x-cloak
        )
          template(x-if="!isFilled")
            .stage__params
              .stage__params-body
                div
                  +btn({content: '<span class="hidden-max-sm">Провести жеребьевку</span><span class="hidden-min-sm">Жеребьевка</span>'}).btn--tertiary.btn--lg.btn--width-full(
                    x-bind="btnLoad"
                    x-on:click="isLoading = true; $refs.stageItems.innerHTML = await (await fetch('ajax/stage-items-brainstorm.html')).text(); isLoading = false; isFilled = true"
                  )

                div
                  +form-field({tag: 'select'}).form-field--lg
                    option(value="6") 6 человек в команде
                    option(value="9") 9 человек в команде
                    option(value="12") 12 человек в команде

          template(x-if="isFilled")
            .stage__params
              .stage__params-body
                div(
                  x-id=['form-field']
                  x-show="!isStarted"
                )
                  label.form-label.mb-2(
                    x-bind:for="$id('form-field')"
                  ) Таймер (задать время)

                  +form-field({tag: 'select'}).form-field--lg(
                    x-bind:id="$id('form-field')"
                    x-model.number="controlTime"
                  )
                    option(value=5 * 1000) 5 сек.
                    option(value=5 * 60 * 1000) 5 мин.
                    option(value=15 * 60 * 1000) 15 мин.
                    option(value=30 * 60 * 1000) 30 мин.
                    option(value=45 * 60 * 1000) 45 мин.
                    option(value=60 * 60 * 1000) 1 час
                    option(value=90 * 60 * 1000) 1 час 30 мин

                div(x-show="!isStarted")
                  +btn({content: 'Старт'}).btn--accent.btn--lg.btn--width-full(
                    x-bind="btnStart"
                    x-on:click="beforeSendData(); fetch('', { method: 'POST', body: controlTime }).then(() => { afterSendData() })"
                  )

                div
                  +form-field().form-field.form-field--timer.form-field--lg(
                    readonly
                    x-data="timer"
                    x-bind:value="formatTime"
                  )

          div(x-ref="stageItems")
            +table-data('brainstorm-not-filled')
