include /components/target-groups/target-groups

mixin event-settings
  form.event-settings(
    x-data="eventSettings"
    action=""
  )&attributes(attributes)
    .event-settings__body
      .event-settings__group
        label.form-label Группа
        +target-groups()

      .event-settings__main
        .event-settings__group(x-id=['form-field'])
          label.form-label(x-bind:for="$id('form-field')") Название события
          +form-field()(
            name="name"
            required
            x-bind:id="$id('form-field')"
            value="Новое событие Флагманы Образования"
          )

        .event-settings__group(x-id=['form-field'])
          label.form-label(x-bind:for="$id('form-field')") Дата и время начала (МСК)
          +form-field()(
            required
            x-bind:id="$id('form-field')"
          )
          input(
            type="hidden"
            name="start-date"
          )

        .event-settings__group(x-id=['form-field'])
          label.form-label(x-bind:for="$id('form-field')") Дата и время окончания (МСК)
          +form-field()(
            required
            x-bind:id="$id('form-field')"
          )
          input(
            type="hidden"
            name="end-date"
          )

      .event-settings__footer
        +btn({ content: 'Сохранить' }).btn--primary.btn--width-208(type="submit")
