mixin festival({ year, festivals } = {})
  section.festival(id=year)&attributes(attributes)
    .festival__grid.container.grid-12
      .festival__col-1.col-span-5.col-line-2.col-span-6-max-lg.col-span-12-max-md
        .festival__header
          time.festival__date(datetime=year)
            span= year

        each festival in festivals
          .festival__item
            +content().festival__content!= festival.desc
              p
                a(href=festival.date) Подробнее

      .festival__col-2.col-span-5.col-span-6-max-lg.col-span-12-max-md
        +picture-webp().festival__img(
          src=festivals[0].image
          srcset="2x"
        )
