extends /pug/base

include /components/table-data/table-data

block document
  each item, index in Array(4)
    .stage__command.stage-item(
      class='stage-item--review'
      x-data="stageItem({ isStarted: false, timeLeft: 0 })"
      x-bind="stageItem"
      x-cloak
      id=`command-${index + 1}`
    )
      .stage__command-body
        .stage__command-header(x-bind="commandHeader")
          .stage__command-title Команда #{index + 1}
          icon-svg(name="angle-down").stage__command-header-icon

        .stage__command-main(hidden)
          +table-data('review')

      template(x-teleport=`#command-review-${index + 1}`)
        .stage__command-review
          .stage__command-review-title Команда #{index > 0 ? index : 4} рецензирует команду #{index + 1}

          .stage__command-timer
            div(x-show="!isStarted")
              +form-field({tag: 'select'})(x-model.number="controlTime")
                option(value=5 * 1000) 5 сек.
                option(value=5 * 60 * 1000) 5 мин.
                option(value=15 * 60 * 1000) 15 мин.
                option(value=30 * 60 * 1000) 30 мин.
                option(value=45 * 60 * 1000) 45 мин.
                option(value=60 * 60 * 1000) 1 час
                option(value=90 * 60 * 1000) 1 час 30 мин

            div(x-show="!isStarted")
              +btn({content: 'Старт'}).btn--accent.btn--width-full(
                x-bind="btnStart"
                x-on:click="beforeSendData(); fetch('', { method: 'POST', body: controlTime }).then(() => { afterSendData() })"
              )

            div(x-show="isStarted")
              +form-field().form-field.form-field--timer(
                readonly
                x-data="timer"
                x-bind:value="formatTime"
              )

      div(id=`command-review-${index < 3 ? index + 2 : 1}`)
