mixin nav
  nav.nav(
    x-data="nav"
    x-bind="nav"
    x-cloak
  )&attributes(attributes)
    .nav__body
      each festivalYear in store.festivalYears
        a.nav__item(
          href=`#${festivalYear.year}`
          x-bind="navItem"
        )
          span= festivalYear.year
